.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 10px; /* Space between grid items */
  width: 100%; /* Full width of the screen */
  margin: 0 auto;
  overflow: hidden; /* Prevent overflow from stretching the container */
  height: 100%;
  &.single-row {
    grid-template-rows: repeat(1, 1fr); /* 1 rows */
    // height: 60%;
  }
}

.grid-item {
  position: relative;
  opacity: 1;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  // animation: fadeInOut 8s ease-in-out infinite;
  animation-fill-mode: forwards;
  transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition */
  cursor: pointer; /* Indicate interactivity */
  -webkit-touch-callout: none; /* Disable long-press callout */
  filter: grayscale(100%); /* Start as grayscale */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  outline: none; /* Remove default button outline */
}

/* Keyframe for the fade animation */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

/* Custom classes for even and odd items */
.odd {
  animation-delay: 0s; /* Odd items start immediately */
}

.even {
  animation-delay: 4s; /* Even items start after 4 seconds */
}
